@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet'
);
*{
   margin: 0;
   padding: 5px 5px;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
}
body
{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 30vh;
    background: linear-gradient(#0f4675,#0f4675 50%, #0f4675 50%, #0f4675 50%);
}
.container-2{
    width: 1100px;
    display: flex;
    justify-content: space-between;
    gap: 3em;
    flex-wrap: wrap;
}
.container-2 .box1{
    position: relative;
    width: 320px;
    border-radius: 10px;
    background: rgb(255, 105, 197);
    padding: 100px 40px 60px;
    box-shadow: 5px 15px 45px rgba(255, 255, 255, 0.1);
}
.container-2 .box1:before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2b6dd7;
    transform: scaleY(0);
    transform-origin:top;
    transition: transform 0.5s;
}
.container-2 .box1:hover:before{
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform 0.5s;
}
.container-2 .box1 h2{
    position: absolute;
    left: 40px;
    top: 60px;
    font-size: 4em;
    font-weight: 800;
    z-index: 1;
    opacity: 0.3;
    transition: 0.5s;
}
.container-2 .box1:hover h2
{
    opacity: 1;
    color: #fff;
    transform: translateY(-40px);

}
.container-2 .box1 h3{
    position: relative;
    font-size: 2em;
    font-weight: bold;
    z-index: 2;
    color: rgb(0, 0, 0);
    transition: 0.5s;
    
}
.container-2 .box1 p{
    position: relative;
    z-index: 2;
    color: rgb(0, 0, 0);
    transition: 0.5s;
}
.container-2 .box1:hover h3,
.container-2 .box1:hover p
{
    color: #fff;
}